{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}Log in{% endblock %} -- Alice and Bob's Wedding Website
    </title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />

    {% block header %} {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Navigation</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}">Home</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/rsvp/' %}active{% endif %}" href="{% url 'rsvp' %}">RSVP</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/hotels/' %}active{% endif %}" href="{% url 'hotels' %}">
                Where to stay (Hotels)
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/gallery/' %}active{% endif %}" href="{% url 'gallery' %}">
                Gallery
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/schedule/' %}active{% endif %}" href="{% url 'schedule' %}">
                Schedule
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/faq/' %}active{% endif %}" href="{% url 'faq' %}">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/settings/' %}active{% endif %}" href="{% url 'settings' %}">
                Settings
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/registry/' %}active{% endif %}" href="{% url 'registry' %}">
                Registry
              </a>
            </li>
            <li class="nav-item">
              <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <a
                  class="nav-link"
                  href="#"
                  onclick="this.closest('form').submit();return false;"
                  >Log out</a
                >
              </form>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="mt-4"></div>
    <div class="container">{% block content %} {% endblock %}</div>

    <div class="container">
      <footer
        class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
      >
        <div class="col-md-4 d-flex align-items-center">
          <span class="mb-3 mb-md-0 text-body-secondary">
            (Not) &copy; 1970 Alice and Bob
          </span>
        </div>
      </footer>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var toggle = document.querySelector(".menu-toggle");
        var menu = document.querySelector(".nav-menu");

        toggle.addEventListener("click", function () {
          menu.style.display =
            menu.style.display === "block" ? "none" : "block";
        });
      });
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
