{% extends 'main/base.html' %}
{% load custom_filters %}

{% block title %}Schedule{% endblock %}

{% block content %}
{% for event in events %}
    <div class="card mb-3">
        <div class="card-header">
            <h1 class="card-title">{{ event.name }}</h1>
        </div>
        <div class="card-body">
            <h2 class="card-subtitle mb-2 text-muted">{{ event.location }} || {{ event.date }}</h2>
            <p class="card-text">{{ event.about }}</p>
        </div>
    </div>
{% endfor %}
{% endblock %}